.cadastro-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alinhar os elementos em coluna */
  height: 100vh; /* Garantir que ocupe toda a altura da viewport */
}

.cadastro-form {
  margin-top: 0.6rem;
  margin-bottom: 0.1rem;
  background-color: white;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.cadastro-form h2 {
  margin-top: 0rem;
  margin-bottom: 0.6rem;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.cadastro-flex-container .formulario-obrigatorio-nota {
  margin-top: 0.1rem; /* Adicionar espaçamento superior */
  color: #dc3545;
  font-size: 0.875rem;
  text-align: center; /* Centralizar o texto */
}

.link-termos {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-termos:hover {
  color: #0056b3;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
  color: #007bff;
}

.text-decoration-none:hover {
  color: #0056b3;
}



