/* Manter o estilo da flex container para centralizar o formulário de login */
.login-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Adicionar estilo padrão para os links */
.links-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.links-container a {
    margin: 0 0.5rem;
}

.login-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.3rem; /* Ajuste a distância conforme necessário */
    gap: 0.5rem; /* Espaço entre os botões */
}

.login-links a {
    display: block;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative; /* Para posicionar o pseudo-elemento corretamente */
}

.login-links a:not(:last-child)::after {
    content: "|";
    margin-left: 0.5rem; /* Espaço entre o link e o separador */
    color: #007bff; /* Cor do separador */
}

.login-links a:hover {
    color: #0056b3;
}

.login-form {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    background-color: white;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

.text-decoration-none {
    color: #007bff;
    text-decoration: none;
}

.text-decoration-none:hover {
    color: #0056b3;
}

.resend-link {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    padding: 0;
}

.resend-link:hover {
    color: #0056b3;
}
